h1 {
    font-size: 50px;
    word-break: break-all;
    text-align: center;
}


 body{
   background-image: url("../Images/8.jpg");
   font-family: Arial;
 }
div.gallery {
    margin: 30px;
    border: 1px solid #ccc;
    float: left;
    width: auto;

}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: auto;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;

}

.footer{

  text-align: center;
  position: fixed;
  bottom:0;
  color: white;

}
